<h1 class="fw-bold">VHS, VHS-C, Video 8, Hi 8 & Mini DV<br>Super 8 & 8 mm Filmrollen</h1>
<p style="margin-top: 3vh;"><span class="fw-bold">VHS & VHS-C:</span> 10.-€/Stück.<br>
<span class="fw-bold">Video 8, Hi 8 & Mini DV:</span> bis 3 Stück: 14.-€/Stück, bis 20 Stück: 13.-€/Stück<br>
über 20 Stück: 10.-€/Stück
</p>
<hr>
<p><span class="fw-bold">Super 8 & 8mm:</span> 1.50€ je digitalisierter Filmminute<br>
Müssen Filme geklebt werden oder ist die Transportperforation beschädigt, fallen Zusatzkosten an.
</p>
<hr>
<p>Speicherung im MP4 Format* auf USB-Stick (ab 7.-€/Stick[16GB]) oder auf DVD-Rohling (5,00€/Stück)</p>
<p><small>* Andere Formate auf Wunsch möglich! Sprechen Sie uns an! </small></p>
<img src="/pics/vhs_vorl200.png" style="max-width: 30vw; max-height: 30vh;">
