<h1 class="fw-bold">Impressum</h1>
<p>ConnPuter IT Service<br>
  Inh.: Dominik Rein<br>
  Bornaische Str. 72<br>
  04277 Leipzig<br>
</p>
<p>Telefon: 0341 580 676 04<br>
  Fax: 0341 580676 05<br>
  Mail für Anfragen: info&#64;connputer.de<br>
  Mail für Druckaufgaben: druck&#64;connputer.de<br>
  <br>
  Umsatzsteuer-ID: DE226411579<br>
</p>
<p title="Externe Links">Externe Links: Das Landgericht Hamburg (LG) hat mit Urteil vom
  12.05.1998 (312 O 85/98 -
  "Haftung für Links") entschieden, dass man durch die Ausbringung eines Links die Inhalte
  der gelinkten Seite ggf. mit zu verantworten hat. Dies kann - so das LG - nur dadurch
  verhindert werden, dass man sich ausdrücklich von diesen Inhalten distanziert. Aus
  diesem Grund wird hiermit ausdrücklich vom Webmaster/Verantwortlichen dieser Website
  darauf hingewiesen, dass er keinerlei Einfluss auf die Gestaltung und die Inhalte
  gelinkter Seiten hat. Deshalb nimmt er hiermit ausdrücklich von allen Inhalten aller
  gelinkten externen Seiten auf der gesamten Website inkl. aller im direkten Zusammenhang
  stehenden Unterseiten Abstand.
</p>
