<h1 class="fw-bold">Wissenswertes</h1>
<p class="text-uppercase">warum sich die Digitalisierung lohnt.</p>
<img src="/pics/pics02.jpg" style="max-width: 30vw; max-height: 40vh; margin-top: 3vh;">
<p style="margin-top: 2vh">
  Wenngleich Filme nur langsam altern, sie altern. Je nach Filmmaterial machen sich nach ca. 20 Jahren erste Alterserscheinungen bemerkbar. Bei Filmmaterial aus den 60er und 70er Jahren sind teilweise nur noch mit guter Nachbearbeitung bzw. Restaurierung Ergebnisse zu erzielen die dem ursprünglichen Bild in Farbe, Kontrast und Helligkeit entsprechen. Bei der Nachbearbeitung lassen sich auch unter oder überbelichtete Aufnahmen korrigieren und zu neuem Leben erwecken.
  Mit der Digitalisierung machen Sie ihr Fotoarchiv für alle digitalen Medien nutzbar. Ob am Fernseher, Laptop, PC, Tablet, für ihren Internetauftritt oder Smartphone, einmal digitalisiert können Sie Ihre Bilder überall und zu jeder Zeit verfügbar machen.
  <br><br>
  <span class="fw-bold">Ordnerbezeichnungen & Dateinamen</span>
  <br>
  Für Ihre Bilder verwenden wir die von Ihnen verwendeten Magazinnamen oder Nummern für die Ordnerbezeichnung. Ihre Angaben werden ebenfalls in die Dateinamen übernommen. Die Bilddateien werden, fortlaufend nummeriert, in die jeweiligen Ordner gespeichert. Ist die Diareihenfolge erkennbar, wird diese soweit wie möglich beibehalten.
  <br><br>
  <span class="fw-bold">Dateiformate</span>
  <br>
  JPG/JPEG Die fertig Nachbearbeiteten Bilddateien werden im jpg Dateiformat abgespeichert. Dadurch verringert sich der Speicherbedarf gegenüber den Rohdaten. Jpg Bilder sind kompatiebel mit fast allen Bildbetrachtern, Betriebssystemen und Bearbeitungsprogrammen. Egal ob Fernseher, Smartphone, Tablet, PC oder Laptop.
  Tiff / CR2 / NEF Die Rohdaten(raw) von Scanner oder Kamera bieten die optimale Basis für die verlustfreie Nachbearbeitung da sämtliche vom Bildsensor erfassten Details vollständig erhalten bleiben. Die Dateien sind trotz angewandter Kompressionsverfahren oft sehr viel größer als ihre JPEG-Äquivalente. Auf Wunsch speichern wir Ihnen gern die Rohdaten um eine spätere verlustfreie Nachbearbeitung oder Zuschnitt zu ermöglichen.
</p>
