<h1 class="fw-bold">Negative SW/Color</h1>
<p style="margin-top: 3vh;">0,39€/pro Foto, ab 500 Stück 0,35€/pro Foto <br> Kleinmengen (bis 30 Stück) pauschal 10.-€</p>
<img src="/pics/Pic-6-2.jpg" style="max-width: 30vw; max-height: 30vh;">
<p style="margin-top: 3vh;">
  <span class="fw-bold">Auflösung:</span> ca.4300x2900 Pixel, 24Bit, Größe: ca 6MB als JPG.<br>
  Digitalisierung von negativ Streifen und Rollen.Schwarz-Weiß / Color<br>
  <span class="fw-bold">Vorbereitung:</span><br>
  Reinigung mit einem antistatischem Pinsel, ölfreier Druckluft.<br>
  <span class="fw-bold">Digitalisierung:</span><br>
  Die Negative werden unter beibehaltung der ursprünglichen Reihnfolge digitalisiert und als Rohdaden gespeichert.<br>
  <span class="fw-bold">Nachbearbeitung:</span><br>
  Umwandeln der Negative in Positive. Drehen der digitalisierten Bilder in die richtige Lage. Anpassen der Farbtemperatur / Weißabgleich, Helligkeit, Kontrast und Dynamik.<br>
  <span class="fw-bold">Konvertieren:</span><br>
  Umwandlung der Nachbearbeiteten Bilder in JPG Bilddateien.<br>
  <span class="fw-bold">Fertig.</span><br>
</p>
<img src="/pics/pic-5.jpg" style="max-width: 30vw; max-height: 30vh;">
