<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && data">
<h1 class="fw-bold">Top Qualität zum fairen Preis!</h1>
<h4>Preise inkl. Vorbereitung, Digitalisierung und Nachbearbeitung</h4>
  <span class="fw-semibold">
    <li>Kleinstmenge bis 30 Stück Pauschal {{data['pauschal']}}</li>
  <li>Bis 500 Stück {{data['bis-500']}}</li>
  <li>Bis 1000 Stück {{data['bis-1000']}}</li>
  <li>Bis 2000 Stück {{data['bis-2000']}}</li>
  <li>Ab 2001 Stück {{data['ab-2001']}}</li>
  </span>
  <span class="fw-semibold">Bei Anlieferung im Universalmagazin</span> <br>
  <span class="fw-semibold">Aufpreis für Umsortieren aus anderen Magazintypen, Archievboxen oder lose Dias {{data['aufpreis']}}</span>
  <br><br>
  <img src="/pics/pic-11-2.jpg" style="max-width: 30vw; max-height: 30vh;">
<br><br>
<p>
  <span class="fw-bold">Auflösung:</span><br>
  ca.5800x3800 Pixel, 24Bit, Größe: ca 14MB als JPG.<br>
  <span class="fw-bold">Vorbereitung:</span><br>
  Reinigung mit einem antistatischem Pinsel, ölfreier Druckluft.<br>
  <span class="fw-bold">Digitalisierung:</span><br>
  Die Dias werden unter beibehaltung der ursprünglichen Reihnfolge digitalisiert und als Rohdaden gespeichert.<br>
  <span class="fw-bold">profesionelle Nachbearbeitung:</span><br>
  Drehen der digitalisierten Bilder in die richtige Lage, sofern diese am Motiv zu erkennen ist. Anpassen der Farbtemperatur/Weißabgleich, Helligkeit, Kontrast und Dynamik.<br>
  <span class="fw-bold">Konvertieren:</span><br>
  Umwandlung der Nachbearbeiteten Bilder in JPG Bilddateien.<br>
  <span class="fw-bold">Fertig.</span>
</p>
<img src="/pics/Archivbox.JPEG" style="max-width: 30vw; max-height: 30vh; margin: 5px">
<img src="/pics/Einzelbilder.jpg" style="max-width: 30vw; max-height: 30vh; margin: 5px">
</div>
