<h1 class="fw-bold">Top Qualität zum fairen Preis!<br>Dias gerahmt mit und ohne Verglasung</h1>
<h5 class="fw-bold"> 0,30€, ab 1000 Stück 0,20€, ab 2500 Stück 0,18€.<br>Einzelbilder, Mittelformat und Sondergrößen 0,45€ pro Stück.<br>Kleinstmenge (bis 30 Stück) pauschal: 14.-€</h5>
<img src="/pics/pic-11-2.jpg" style="max-width: 30vw; max-height: 30vh;">
<br><br>
<p>
  <span class="fw-bold">Auflösung:</span><br>
  ca.5800x3800 Pixel, 24Bit, Größe: ca 14MB als JPG.<br>
  <span class="fw-bold">Vorbereitung:</span><br>
  Reinigung mit einem antistatischem Pinsel, ölfreier Druckluft.<br>
  <span class="fw-bold">Digitalisierung:</span><br>
  Die Dias werden unter beibehaltung der ursprünglichen Reihnfolge digitalisiert und als Rohdaden gespeichert.<br>
  <span class="fw-bold">profesionelle Nachbearbeitung:</span><br>
  Drehen der digitalisierten Bilder in die richtige Lage, sofern diese am Motiv zu erkennen ist. Anpassen der Farbtemperatur/Weißabgleich, Helligkeit, Kontrast und Dynamik.<br>
  <span class="fw-bold">Konvertieren:</span><br>
  Umwandlung der Nachbearbeiteten Bilder in JPG Bilddateien.<br>
  <span class="fw-bold">Fertig.</span>
</p>
<img src="/pics/pic-11-3.jpg" style="max-width: 30vw; max-height: 30vh;">
